.inputTypeNumber {
  width: 52px;
  border-radius: 6px;
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}


.inputCheck {
  width: 24px;
  color: #fff;
  font-size: 18px;
  border: none;
  height: 24px;
}

.productName {
  flex: 1;
}

.formUpdate {
  display: flex;
  flex: 1;

}

.updateInput {
  flex: 1;
  border-radius: 6px 0px 0px 6px;
  height: 40px;
  outline: none;
  padding: 0 8px;
}

.updateBtn {
  border-radius: 0px 6px 6px 0px;
  border-left: 0;
  width: 80px;
  font-size: 24px;
  color: #fff;
  background: #312e81;
  background-color: #60a5fa;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn {
  background-color: #60a5fa;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  height: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f87171;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  height: 36px;
}